[data-theme='dark'] {
  // General

  // Theme
  --page-bg: rgb(20, 20, 30);
  --page-text-color: rgb(200, 200, 210);
  --link-color: rgb(255, 190, 0);
  --yellow-accent: rgb(255, 190, 0);
  --border-color: rgb(100, 100, 120);

  // Editor
  --editor-toolkit-bg: rgb(20, 20, 30, 0.15);

  // Modal
  --modal-bg: var(--page-bg);
  --modal-text-color: var(--page-text-color);
  --modal-hotkey-bg: rgb(60, 60, 90);

  // Shared
  --btn-primary-bg: rgb(140, 140, 180);
  --btn-primary-hover-bg: var(--yellow-accent);
  --animation-pulsing-bg: rgb(240, 240, 255);
}
