@font-face {
  font-family: 'WorkSans';
  src: url('../media/fonts/Work_Sans/WorkSans-Regular.ttf');
}

@font-face {
  font-family: 'WorkSans-Semibold';
  src: url('../media/fonts/Work_Sans/WorkSans-SemiBold.ttf');
}

@font-face {
  font-family: 'WorkSans-Bold';
  src: url('../media/fonts/Work_Sans/WorkSans-Bold.ttf');
}

@font-face {
  font-family: 'WorkSans-Black';
  src: url('../media/fonts/Work_Sans/WorkSans-Black.ttf');
}
