header {
  grid-area: main-content;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  width: 100%;
  grid-template-columns: repeat(2, auto);
}

.shortcuts {
  justify-self: end;
  margin-right: 4rem;
  z-index: 1;
}
