torch>=1.9.0
opencv-python
flask_cors
flask==1.1.4
flaskwebgui==0.3.5
tqdm
pydantic
loguru
pytest
yacs
markupsafe==2.0.1
scikit-image==0.19.3
diffusers[torch]==0.10.2
transformers>=4.25.1
watchdog==2.2.1