.modal-mask {
  z-index: 9999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--model-mask-bg);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.modal {
  display: grid;
  grid-auto-rows: max-content;
  row-gap: 2rem;
  place-self: center;
  padding: 2rem;
  border-radius: 0.95rem;

  .modal-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;

    .btn-primary {
      justify-self: end;
    }
  }
}
