.number-input {
  all: unset;
  flex: 1 0 auto;
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem;
  line-height: 1;
  outline: 1px solid var(--border-color);

  &:focus-visible {
    outline: 1px solid var(--yellow-accent);
  }
}
