.theme-toggle-ui {
  position: absolute;
  right: 2.5rem;
  top: 1rem;
  z-index: 10;
  transition: all 0.2s ease-in;
  user-select: none;

  .theme-btn {
    cursor: pointer;
    outline: none;

    svg {
      width: 36px;
      height: 36px;
    }
  }
}
