@use '../../styles/Mixins' as *;

.editor-container {
  grid-area: main-content;
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
}

.react-transform-wrapper {
  display: grid !important;
  width: 100% !important;
  height: 100% !important;
}

.editor-canvas-container {
  display: grid;
  grid-template-areas: 'editor-content';
  row-gap: 1rem;
}

.editor-canvas {
  grid-area: editor-content;
  z-index: 2;
}

.original-image-container {
  grid-area: editor-content;
  pointer-events: none;
  display: grid;
  grid-template-areas: 'original-image-content';

  img {
    grid-area: original-image-content;
  }

  .editor-slider {
    grid-area: original-image-content;
    height: 100%;
    width: 4px;
    justify-self: end;
    background-color: var(--yellow-accent);
    transition: all 350ms ease-in-out;
    z-index: 2;
  }
}

.editor-canvas-loading {
  pointer-events: none;
  animation: pulsing 750ms infinite;
}

.editor-toolkit-panel {
  position: fixed;
  bottom: 0;
  padding: 1rem 4rem;
  display: grid;
  grid-template-areas: 'toolkit-size-selector toolkit-brush-slider toolkit-btns';
  column-gap: 2rem;
  align-items: center;
  background-color: var(--editor-toolkit-bg);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem 0.5rem 0 0;
  animation: slideUp 0.2s ease-out;

  @include mobile {
    padding: 1rem 2rem;
    grid-template-areas:
      'toolkit-size-selector toolkit-size-selector'
      'toolkit-brush-slider toolkit-brush-slider'
      'toolkit-btns toolkit-btns';
    row-gap: 2rem;
    justify-items: center;
  }
}

.editor-brush-slider {
  grid-area: toolkit-brush-slider;
  user-select: none;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  height: max-content;
  column-gap: 1rem;
  align-items: center;

  @include slider-bar;
}

.editor-toolkit-btns {
  grid-area: toolkit-btns;
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
}

.brush-shape {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 190, 0, 0.75);
  border: 1px dashed var(--border-color);
  pointer-events: none;
}

.editor-size-selector-options {
  position: fixed;
  display: grid;
}

.editor-size-selector {
  grid-area: toolkit-size-selector;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  column-gap: 0.5rem;
}

.editor-size-selector-main {
  @include accented-display(var(--yellow-accent));
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 0.25rem;
  align-items: center;
  cursor: pointer;
  outline: none;

  svg {
    width: 1rem;
    height: 1rem;
    margin-top: 0.25rem;
  }
}

.editor-size-options {
  @include accented-display(var(--btn-primary-bg));
  padding: 0;
  display: grid;
  justify-self: center;
  margin-left: 2.7rem;
  position: fixed;
  bottom: 4rem;

  @include mobile {
    bottom: 11.5rem;
    margin-left: 2.9rem;
  }

  .editor-size-option {
    padding: 0.2rem 0.8rem;
    border-bottom: 1px dashed var(--border-color);
    border-radius: 0.5rem;

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      background-color: var(--yellow-accent);
    }
  }
}
